
<mat-toolbar color="primary">
  <span>Sam</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>Menu
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Configuraciones</button>
    <button mat-menu-item>Ayuda</button>
</mat-menu>

<mat-card *ngFor="let data of (myData ? myData.slice(0,10):[]); let i = index">
  <img mat-card-image src="{{data.url}}">
  <mat-card-header>
      <mat-card-title>
        {{data.title}}
      </mat-card-title>
  </mat-card-header>

  <mat-card-actions>
      <button mat-button>
          <mat-icon>share-variant</mat-icon>
          Me Gusta
      </button>
      <button mat-button>
          <mat-icon> share-variant </mat-icon>
          Compartir
      </button>
  </mat-card-actions>
</mat-card>
